@import "../../assets/styles/main.scss";

.taxi-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.taxi {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: aliceblue;
  margin-top: 5vh;
  box-sizing: border-box;
  height: 80vh;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0.9;
  width: 80vw;

  &__input {
    width: 30%;

    &__field--title {
      text-align: left;
      font-weight: 500;
      font-size: 2rem;
    }
  }

  &__map {
    width: 70%;
    background-color: green;
    margin-left: 3rem;
  }
}

.end {
  margin-top: 3rem;
}

#map {
  width: 70%;
  height: 100%;
  background-color: yellow;
}
