@import "../../assets/styles/main.scss";

.error-page {
  margin-top: 5vh;
  font-size: 15rem;
  letter-spacing: 2rem;
  width: 100vw;
  height: 50vh;
  box-sizing: border-box;

  &__code {
    display: flex;
    justify-content: center;
    align-items: center;
    &--zero {
      background-image: url("../../assets/images/zero.png");
      background-position: center;
      background-size: cover;
      width: 15vw;
      height: 25vh;
    }
    &--number {
      color: $color-logo;
      -webkit-text-stroke-color: $color-logo-border;
      -webkit-text-stroke-width: 0.3rem;
    }
  }

  &__desc {
    font-size: 5rem;
    font-weight: 700;
    color: $color-logo;
    -webkit-text-stroke-color: $color-logo-border;
    -webkit-text-stroke-width: 0.1rem;
    transform: rotate(-2deg);
  }
}
