@import "../../assets/styles/main.scss";

.topic-component {
  border-bottom: 1px solid lightgray;
  padding: 10px 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: rgb(234, 234, 234);
  }

  &--img {
    background-image: url("../../assets/images/chat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 3.5rem;
    height: 3.5rem;
  }

  &--title {
    width: 70%;
    height: 100%;
    text-align: left;
    padding-left: 5rem;
    box-sizing: border-box;
    font-size: 1.7rem;
    font-weight: 500;
  }

  &--info {
    width: 10%;
    text-align: left;

    &--ans {
      font-size: 1.3rem;
    }
  }

  &--date {
    width: 20%;
    box-sizing: border-box;
    text-align: right;
    font-size: 1.5rem;
  }
}
