$background-primary: #f57d4a;
$color-caramel: #f4bc74;
$color-white: #fbfbfb;
$color-dark-green: #d6aa70;
$color-green: #7a4f34;
$color-black: #000;

$color-logo-border: #7a4f34;
$color-logo: #d6aa70;

// $bg-button: rgb(7, 112, 227);
// $bg-button-hover: rgb(8, 78, 178);
// $button-color: #00a698;
// $button-color-hover: rgb(0, 136, 124);
