$background-primary: #bc6c25;
$color-caramel: #dda15e;
$color-white: #fefae0;
$color-dark-green: #283618;
$color-green: #606c38;
$color-black: #212427;

// $bg-button: rgb(7, 112, 227);
// $bg-button-hover: rgb(8, 78, 178);
// $button-color: #00a698;
// $button-color-hover: rgb(0, 136, 124);
