@import "../../assets/styles/main.scss";

.login-page {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  &-container {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 2rem;

    &--form {
      height: 100%;
      width: 50%;
      border-radius: 2rem 0 0 2rem;
      background-color: #fcfcfc;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--img {
      height: 100%;
      width: 50%;
      background-image: url("../../assets/images/login.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 0 2rem 2rem 0;
    }
  }
}
